<app-progress #progress (stateChange)="onStateChange($event)">
    <app-progress-step>
        <app-person></app-person>
        <button progressStepPrev mat-raised-button color="accent" (click)="goNext(progress)">
      next
    </button>
    </app-progress-step>
    <app-progress-step>
        <app-illness></app-illness>
    </app-progress-step>
    <app-progress-step>
        <h1>step 3</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda sint consectetur est quos voluptatem eveniet sed maxime exercitationem officia. Ipsa porro inventore earum commodi vero vel deleniti unde ad ipsam?
        </p>
        <button progressStepPrev mat-raised-button color="accent">prev</button>
        <button progressStepNext mat-raised-button color="primary">next</button>
    </app-progress-step>
</app-progress>
<router-outlet></router-outlet>