<form [formGroup]="person" class="person-form">
    <h1>THÔNG TIN CÁ NHÂN</h1>
    <mat-form-field class="margin-right-40">
        <mat-label>Họ</mat-label>
        <input formControlName="ho" matInput placeholder="Họ" value="" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Tên</mat-label>
        <input matInput formControlName="ten" placeholder="Tên" />
    </mat-form-field>
    <br />
    <div class="radio-group">
        <mat-radio-group aria-label="Select an option" formControlName="gioitinh">
            <mat-label class="margin-right-40">Giới tính</mat-label>
            <mat-radio-button value="1" class="margin-right-40">Nam</mat-radio-button>
            <mat-radio-button value="2">Nữ</mat-radio-button>
        </mat-radio-group>
    </div>
    <mat-form-field class="margin-right-40">
        <mat-label>Ngày sinh</mat-label>
        <input matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="margin-right-40">
        <mat-label> Số điện thoại </mat-label>
        <input matInput placeholder="Số điện thoại" />
    </mat-form-field>
    <br />

    <mat-form-field class="margin-right-40">
        <mat-label> Số CMND/CCCD/Passport </mat-label>
        <input matInput placeholder="Số CMND/CCCD/Passport" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
    </mat-form-field>
</form>